
.DS_Store
.terraform/modules/modules.json
.terraform/plugins/darwin_amd64/lock.json
.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.33.0_x4
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
2.Deploy_FTGT_HA2AZ_PAYG/.terraform/plugins/darwin_amd64/lock.json
2.Deploy_FTGT_HA2AZ_PAYG/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.33.0_x4
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.backup
terraform.tfstate
terraform.tfstate.backup
~$Variables.xlsx
.terraform.tfstate.lock.info
Licences/FGVM4VTM19001627.lic
Licences/FGVM4VTM19001628.lic
Old_terraform.rtf
terraform.txt
